<div class="main">
  
    
        <div class="" style=" text-align: center;margin-left:10%; width: 90%;">
            <div class="row">
                <!-- <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item ">
                              <a class="nav-link active" aria-current="page" href="#">
                                <p class="glyphicon glyphicon-list-alt"></p>
                                <span class="ml-2">Dashboard</span>
                              </a>
                            </li>
                            <hr class="mt-2 mb-3"/>
                            <li class="nav-item">
                              <a class="nav-link" routerLink="../select">
                                <p class="glyphicon glyphicon-pencil"></p>
                                <span class="ml-2">Take Test</span>
                              </a>
                            </li>
                            
                          </ul>
                    </div>
                   
                </nav>
                 -->


                 <div class="wrapper">
                  <!-- Sidebar -->
                  <nav id="sidebar">
                      <div class="sidebar-header">
                          <h3>Bootstrap Sidebar</h3>
                      </div>
              
                      <ul class="list-unstyled components" style="margin-top: 80px;">
                        
                        <li style="color: black; font-size: 16px; margin-bottom: 100px;"><a style="text-decoration: none; color: purple;" ><span class="glyphicon glyphicon-user" style="margin-right: 2px;"></span>{{name}}</a></li>

                          <li class="dashli">
                              <a href="/company"><span class="glyphicon glyphicon-pencil	
                                "></span>   Take Test</a>
                          </li>
                          
                          <li class="dashli">
                              <a href="/dashboard"><span class="glyphicon glyphicon-home	
                                "></span>   Home</a>
                          </li>
                          <li class="dashli">
                              <a href="/aboutus"><span class="glyphicon glyphicon-phone-alt	
                                "></span>  About Us</a>
                          </li>
                          <li class="dashli">
                            <a href="" (click)="logout()"><span class="glyphicon glyphicon-off	
                              "></span>  Logout</a>
                        </li>
                      </ul>
              
                  </nav>
 
                  
                

                <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4" style="width: 70%; margin-left: 20%;">
                    
                    <h1 class="h2" style="color: white;">Dashboard</h1>
                    
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-lg-0">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                              <tr>
                                                <th scope="col">Exam ID</th>
                                                <th scope="col">Company Name</th>
                                                <th scope="col">Exam Name</th>
                                                <th scope="col">Subject</th>
                                                <th scope="col">Level 1 Score</th>
                                                <th scope="col">Level 2 Score</th>
                                                <th scope="col">Level 3 Score</th>
                                                <th scope="col">Date</th>
                                                
                                              </tr>
                                            </thead>
                                            <tbody *ngFor="let r of report">
                                              <tr >
                                                <td>{{r.ExamID}}</td>
                                                <td>{{r.CompanyName}}</td>
                                                <td>{{r.ExamName}}</td>
                                                <td>{{r.Subject}}</td>
                                                <td *ngIf="r.Level1_Score != null">{{r.Level1_Score}}</td>
                                                <td *ngIf="r.Level1_Score == null">NULL</td>
                                                
                                                
                                                <td *ngIf="r.Level2_Score != null">{{r.Level2_Score}}</td>
                                                <td *ngIf="r.Level2_Score == null">NULL</td>

                                                <td *ngIf="r.Level3_Score != null">{{r.Level3_Score}}</td>
                                                <td *ngIf="r.Level3_Score == null">NULL</td>
                                                <td>{{r.Date | date: 'dd/MM/yyyy'}} </td>
                                            </tbody>
                                          </table>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

              </div>
            </div>
        </div>
    </div>
        <!-- Github buttons -->